### IMPORTACIÓN DE LIBRERÍAS

In [1]:
import os
os.chdir("..")

In [3]:
from utils.funciones import *
from utils.modulos import *

### OBTENCIÓN DE DATOS Y LIMPIEZA DE LOS MISMOS

Comienzo con los datos socioeconómicos del año **2014**

In [4]:
df_economia_2014 = pd.read_excel("./data/socio_economico/panel_indicadores_distritos_barrios_2018.xls", sheet_name="CENTRO")

In [5]:
df_economia_2014 #Visualizo como se ve el DF

,01. CENTRO. INFORMACIÓN DE DISTRITO Y BARRIOS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,,CIUDAD,NaN,CENTRO,NaN,Palacio,NaN,Embajadores,NaN,Cortes,NaN,Justicia,NaN,Universidad,NaN,Sol,NaN,NaN,NaN,NaN
1,1.1 CARACTERÍSTICAS GENERALES DEL DISTRITO-BARRIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Superficie (Ha.),NaN,60445.51,522.82,NaN,146.99,NaN,103.37,NaN,59.19,NaN,73.94,NaN,94.8,NaN,44.53,NaN,http://www-2.munimadrid.es/CSE6/control/selecc...,0.0,0.0
3,Densidad (hab./Ha.),NaN,52.65,252.34,NaN,152.07,NaN,431.74,NaN,177.76,NaN,221.45,NaN,323.93,NaN,164.85,NaN,http://www-2.munimadrid.es/CSE6/control/selecc...,NaN,NaN
4,1.2. LA POBLACIÓN DEL DISTRITO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,920.01 DIREC. Y GESTIÓN ADMTVA. DEL DISTRITO,NaN,4663405,4663405,843180.0,843180,NaN,NaN,NaN,NaN,NaN,NaN,1447.0,NaN,NaN,NaN,5508032,NaN,NaN,NaN
366,924.01 PARTICIPACIÓN CIUDADANA Y VOLUNTARIADO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112000.0,NaN,NaN,NaN,176000.0,NaN,5000.0,NaN,293000,NaN,NaN,NaN
367,933.02 EDIFICIOS,NaN,NaN,NaN,1773065.0,1773065,NaN,NaN,NaN,NaN,NaN,NaN,462557.0,NaN,NaN,NaN,2235622,NaN,NaN,NaN
368,CENTRO 001,NaN,18801730,NaN,14806050.0,NaN,0.0,NaN,794899.0,NaN,0.0,NaN,1345916.0,NaN,24329.0,NaN,26372059,NaN,NaN,NaN
369,SECCIÓN 201,NaN,18801730,NaN,14806050.0,NaN,0.0,NaN,794899.0,NaN,0.0,NaN,1345916.0,NaN,24329.0,NaN,26372059,NaN,NaN,NaN

In [6]:
renta_centro_2014 = df_economia_2014.iloc[48,4] # Como he estado ingestigando en el excel original para buscar el dato, lo localizo y lo guardo en una variable

In [7]:
renta_centro_2014

30197.43913377805

In [8]:
# Creo un DF para buscar los datos de todos lo distritos
renta_arganzuela_2014 = 0.0
renta_arganzuela_2014 = dato_renta_2014(renta_arganzuela_2014, "ARGANZUELA")

In [9]:
renta_arganzuela_2014

38308.48059128802

In [10]:
renta_retiro_2014 = 0.0
renta_retiro_2014 = dato_renta_2014(renta_retiro_2014, "RETIRO")

renta_salamanca_2014 = 0.0
renta_salamanca_2014 = dato_renta_2014(renta_salamanca_2014, "SALAMANCA")

renta_chamartin_2014 = 0.0
renta_chamartin_2014 = dato_renta_2014(renta_chamartin_2014, "CHAMARTÍN")

renta_tetuan_2014 = 0.0
renta_tetuan_2014 = dato_renta_2014(renta_tetuan_2014, "TETUÁN")

renta_chamberi_2014 = 0.0
renta_chamberi_2014 = dato_renta_2014(renta_chamberi_2014, "CHAMBERÍ")

renta_fuencarral_2014 = 0.0
renta_fuencarral_2014 = dato_renta_2014(renta_fuencarral_2014, "FUENCARRAL-EL PARDO")

renta_moncloa_2014 = 0.0
renta_moncloa_2014 = dato_renta_2014(renta_moncloa_2014, "MONCLOA-ARAVACA")

renta_latina_2014 = 0.0
renta_latina_2014 = dato_renta_2014(renta_latina_2014, "LATINA")

renta_carabanchel_2014 = 0.0
renta_carabanchel_2014 = dato_renta_2014(renta_carabanchel_2014, "CARABANCHEL")

renta_usera_2014 = 0.0
renta_usera_2014 = dato_renta_2014(renta_usera_2014, "USERA")

renta_puente_vallecas_2014 = 0.0
renta_puente_vallecas_2014 = dato_renta_2014(renta_puente_vallecas_2014, "PUENTE DE VALLECAS")

renta_moratalaz_2014 = 0.0
renta_moratalaz_2014  = dato_renta_2014(renta_moratalaz_2014, "MORATALAZ")

renta_ciudad_lineal_2014 = 0.0
renta_ciudad_lineal_2014 = dato_renta_2014(renta_ciudad_lineal_2014, "CIUDAD LINEAL")

renta_hortaleza_2014 = 0.0
renta_hortaleza_2014 = dato_renta_2014(renta_hortaleza_2014, "HORTALEZA")

renta_villaverde_2014 = 0.0
renta_villaverde_2014 = dato_renta_2014(renta_villaverde_2014, "VILLAVERDE")

renta_villa_vallecas_2014 = 0.0
renta_villa_vallecas_2014 = dato_renta_2014(renta_villa_vallecas_2014, "VILLA DE VALLECAS")

renta_vicalvaro_2014 = 0.0
renta_vicalvaro_2014 = dato_renta_2014(renta_vicalvaro_2014, "VICÁLVARO")

renta_sanblas_2014 = 0.0
renta_sanblas_2014 = dato_renta_2014(renta_sanblas_2014, "SAN BLAS-CANILLEJAS")

renta_barajas_2014 = 0.0
renta_barajas_2014 = dato_renta_2014(renta_barajas_2014, "BARAJAS")

In [11]:
# Hago lo mismo para el año 2020

df_economia_2020 = pd.read_excel("./data/socio_economico/panel_indicadores_distritos_barrios_2023.xlsx", sheet_name="CENTRO")

In [12]:
df_economia_2020

,Unnamed: 0,1. CENTRO. INFORMACIÓN DE DISTRITO Y BARRIOS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,,CIUDAD,NaN,CENTRO,NaN,Palacio,NaN,Embajadores,NaN,Cortes,NaN,Justicia,NaN,Universidad,NaN,Sol,NaN,NaN,NaN
1,NaN,1.1 CARACTERÍSTICAS GENERALES DEL DISTRITO-BARRIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Superficie (Ha.),60445.52,NaN,522.82,NaN,146.99,NaN,103.37,NaN,59.19,NaN,73.94,NaN,94.8,NaN,44.53,NaN,NaN,NaN
3,NaN,Densidad (hab./Ha.),55.255228,NaN,267.179909,NaN,159.881625,NaN,446.976879,NaN,182.73357,NaN,246.402489,NaN,345.812236,NaN,183.337076,NaN,NaN,NaN
4,NaN,1.2. LA POBLACIÓN DEL DISTRITO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,NaN,PARTICIPACIÓN CIUDADANA,924.01,NaN,NaN,2000.0,NaN,NaN,NaN,157960.0,NaN,NaN,NaN,NaN,NaN,5000.0,NaN,164960,NaN,NaN
379,NaN,SALUBRIDAD PÚBLICA,311.01,1296467,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1299612,NaN,NaN
380,NaN,SERVICIOS COMPLEMENTARIOS EDUCACIÓN,326.01,NaN,NaN,279130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,279130,NaN,NaN
381,NaN,SERVICIOS SOCIALES Y EMERGENCIA SOCIAL,231.06,3400082,NaN,1991462.0,NaN,NaN,NaN,877548.0,NaN,NaN,NaN,NaN,NaN,11000.0,NaN,6280092,NaN,NaN
382,NaN,SECCIÓN 201,NaN,12962249,NaN,16601733.0,NaN,0.0,NaN,1505527.0,NaN,0.0,NaN,1230050.0,NaN,30329.0,NaN,32329888,NaN,NaN

In [13]:
renta_centro_2020 = df_economia_2020.iloc[53,5]

In [14]:
renta_centro_2020

36984.0

In [15]:
renta_arganzuela_2020 = 0.0
renta_arganzuela_2020 = dato_renta_2020(renta_arganzuela_2020, "ARGANZUELA")

renta_retiro_2020 = 0.0
renta_retiro_2020 = dato_renta_2020(renta_retiro_2020, "RETIRO")

renta_salamanca_2020 = 0.0
renta_salamanca_2020 = dato_renta_2020(renta_salamanca_2020, "SALAMANCA")

renta_chamartin_2020 = 0.0
renta_chamartin_2020 = dato_renta_2020(renta_chamartin_2020, "CHAMARTÍN")

renta_tetuan_2020 = 0.0
renta_tetuan_2020 = dato_renta_2020(renta_tetuan_2020, "TETUÁN")

renta_chamberi_2020 = 0.0
renta_chamberi_2020 = dato_renta_2020(renta_chamberi_2020, "CHAMBERÍ")

renta_fuencarral_2020 = 0.0
renta_fuencarral_2020 = dato_renta_2020(renta_fuencarral_2020, "FUENCARRAL-EL PARDO")

renta_moncloa_2020 = 0.0
renta_moncloa_2020 = dato_renta_2020(renta_moncloa_2020, "MONCLOA-ARAVACA")

renta_latina_2020 = 0.0
renta_latina_2020 = dato_renta_2020(renta_latina_2020, "LATINA")

renta_carabanchel_2020 = 0.0
renta_carabanchel_2020 = dato_renta_2020(renta_carabanchel_2020, "CARABANCHEL")

renta_usera_2020 = 0.0
renta_usera_2020 = dato_renta_2020(renta_usera_2020, "USERA")

renta_puente_vallecas_2020 = 0.0
renta_puente_vallecas_2020 = dato_renta_2020(renta_puente_vallecas_2020, "PUENTE DE VALLECAS")

renta_moratalaz_2020 = 0.0
renta_moratalaz_2020  = dato_renta_2020(renta_moratalaz_2020, "MORATALAZ")

renta_ciudad_lineal_2020= 0.0
renta_ciudad_lineal_2020 = dato_renta_2020(renta_ciudad_lineal_2020, "CIUDAD LINEAL")

renta_hortaleza_2020 = 0.0
renta_hortaleza_2020 = dato_renta_2020(renta_hortaleza_2020, "HORTALEZA")

renta_villaverde_2020 = 0.0
renta_villaverde_2020 = dato_renta_2020(renta_villaverde_2020, "VILLAVERDE")

renta_villa_vallecas_2020 = 0.0
renta_villa_vallecas_2020 = dato_renta_2020(renta_villa_vallecas_2020, "VILLA DE VALLECAS")

renta_vicalvaro_2020 = 0.0
renta_vicalvaro_2020 = dato_renta_2020(renta_vicalvaro_2020, "VICÁLVARO")

renta_sanblas_2020 = 0.0
renta_sanblas_2020 = dato_renta_2020(renta_sanblas_2020, "SAN BLAS-CANILLEJAS")

renta_barajas_2020 = 0.0
renta_barajas_2020 = dato_renta_2020(renta_barajas_2020, "BARAJAS")

In [16]:

# Lo junto todo en un DF

distritos = "Centro", "Arganzuela", "Retiro", "Salamanca", "Chamartín", "Tetuán",\
    "Chamberí", "Fuencarral-El Pardo", "Moncloa-Aravaca","Latina", "Carabanchel",\
        "Usera", "Puente de Vallecas", "Moratalaz", "Ciudad Lineal", "Hortaleza",\
             "Villaverde", "Villa de Vallecas", "Vicálvaro", "San Blas", "Barajas"

renta_2014 = [
    renta_centro_2014, renta_arganzuela_2014, renta_retiro_2014, renta_salamanca_2014,
    renta_chamartin_2014, renta_tetuan_2014, renta_chamberi_2014, renta_fuencarral_2014,
    renta_moncloa_2014, renta_latina_2014, renta_carabanchel_2014, renta_usera_2014,
    renta_puente_vallecas_2014, renta_moratalaz_2014, renta_ciudad_lineal_2014,
    renta_hortaleza_2014, renta_villaverde_2014, renta_villa_vallecas_2014,
    renta_vicalvaro_2014, renta_sanblas_2014, renta_barajas_2014
    ]

In [17]:
df_renta_2014 = pd.DataFrame({
    "Año": [2014] * len(distritos),
    "Distrito": distritos,
    "Renta": renta_2014
})

In [18]:
df_renta_2014

     Año             Distrito         Renta
0   2014               Centro  30197.439134
1   2014           Arganzuela  38308.480591
2   2014               Retiro  54250.433710
3   2014            Salamanca  57371.989198
4   2014            Chamartín  65216.040487
5   2014               Tetuán  32624.345565
6   2014             Chamberí  49347.596364
7   2014  Fuencarral-El Pardo  54478.579918
8   2014      Moncloa-Aravaca  69915.639942
9   2014               Latina  29817.659455
10  2014          Carabanchel  26625.880759
11  2014                Usera  24059.927613
12  2014   Puente de Vallecas  23405.032090
13  2014            Moratalaz  34191.247598
14  2014        Ciudad Lineal  44001.479285
15  2014            Hortaleza  56606.329441
16  2014           Villaverde  24870.778166
17  2014    Villa de Vallecas  31063.398663
18  2014            Vicálvaro  27926.540251
19  2014             San Blas  32807.055664
20  2014              Barajas  42155.277028

In [19]:
renta_2020 = [
    renta_centro_2020, renta_arganzuela_2020, renta_retiro_2020, renta_salamanca_2020,
    renta_chamartin_2020, renta_tetuan_2020, renta_chamberi_2020, renta_fuencarral_2020,
    renta_moncloa_2020, renta_latina_2020, renta_carabanchel_2020, renta_usera_2020,
    renta_puente_vallecas_2020, renta_moratalaz_2020, renta_ciudad_lineal_2020,
    renta_hortaleza_2020, renta_villaverde_2020, renta_villa_vallecas_2020,
    renta_vicalvaro_2020, renta_sanblas_2020, renta_barajas_2020
    ]

In [20]:
df_renta_2020 = pd.DataFrame({
    "Año": [2020] * len(distritos),
    "Distrito": distritos,
    "Renta": renta_2020
})

In [21]:
df_renta_2020

     Año             Distrito    Renta
0   2020               Centro  36984.0
1   2020           Arganzuela  45310.0
2   2020               Retiro  56302.0
3   2020            Salamanca  60401.0
4   2020            Chamartín  69202.0
5   2020               Tetuán  38799.0
6   2020             Chamberí  55757.0
7   2020  Fuencarral-El Pardo  54292.0
8   2020      Moncloa-Aravaca  62202.0
9   2020               Latina  32957.0
10  2020          Carabanchel  30890.0
11  2020                Usera  28770.0
12  2020   Puente de Vallecas  27714.0
13  2020            Moratalaz  37890.0
14  2020        Ciudad Lineal  40532.0
15  2020            Hortaleza  52880.0
16  2020           Villaverde  29640.0
17  2020    Villa de Vallecas  34190.0
18  2020            Vicálvaro  35589.0
19  2020             San Blas  38163.0
20  2020              Barajas  50985.0

In [22]:
df_renta = pd.concat([df_renta_2014, df_renta_2020])

In [23]:
df_renta

     Año             Distrito         Renta
0   2014               Centro  30197.439134
1   2014           Arganzuela  38308.480591
2   2014               Retiro  54250.433710
3   2014            Salamanca  57371.989198
4   2014            Chamartín  65216.040487
5   2014               Tetuán  32624.345565
6   2014             Chamberí  49347.596364
7   2014  Fuencarral-El Pardo  54478.579918
8   2014      Moncloa-Aravaca  69915.639942
9   2014               Latina  29817.659455
10  2014          Carabanchel  26625.880759
11  2014                Usera  24059.927613
12  2014   Puente de Vallecas  23405.032090
13  2014            Moratalaz  34191.247598
14  2014        Ciudad Lineal  44001.479285
15  2014            Hortaleza  56606.329441
16  2014           Villaverde  24870.778166
17  2014    Villa de Vallecas  31063.398663
18  2014            Vicálvaro  27926.540251
19  2014             San Blas  32807.055664
20  2014              Barajas  42155.277028
0   2020               Centro  36984.000000
1   2020           Arganzuela  45310.000000
2   2020               Retiro  56302.000000
3   2020            Salamanca  60401.000000
4   2020            Chamartín  69202.000000
5   2020               Tetuán  38799.000000
6   2020             Chamberí  55757.000000
7   2020  Fuencarral-El Pardo  54292.000000
8   2020      Moncloa-Aravaca  62202.000000
9   2020               Latina  32957.000000
10  2020          Carabanchel  30890.000000
11  2020                Usera  28770.000000
12  2020   Puente de Vallecas  27714.000000
13  2020            Moratalaz  37890.000000
14  2020        Ciudad Lineal  40532.000000
15  2020            Hortaleza  52880.000000
16  2020           Villaverde  29640.000000
17  2020    Villa de Vallecas  34190.000000
18  2020            Vicálvaro  35589.000000
19  2020             San Blas  38163.000000
20  2020              Barajas  50985.000000

In [24]:
# Lo guardo en un archivo JSON

df_renta.to_json("df_renta.json", orient="records", lines=True, force_ascii=False)